.gauge {
    display: flex; 
    margin: 0px 0px 0px 0px;
    position: relative;
    height: 100%;
    width: 100%;
}
.gauge .background-bar {
    display: block;
    background-color: lightgray;
    height: 20px;
    width: 70%;
    border-radius: 6px;
  }
  .gauge .fill {
    background-color: lightcoral;
    border-radius: 6px;
    height: 20px;
  }
/*
.mask {
    position: relative;
    overflow: hidden;
    display: block;
    width: 12.5rem;
    height: 6.25rem;
    margin: 1.25rem;
}


.semi-circle {
    position: relative;
    display: block;
    width: 12.5rem;
    height: 6.25rem;
    
    background: lightcoral; 
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

.semi-circle::before {

    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    display: block;
    width: 8.75rem;
    height: 4.375rem;
    margin-left: -4.375rem;
    background: #fff;
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}
.cover-degree {
    position: absolute;
    top: 0;
    left: 0;
    width: 12.5rem;
    height: 12.5rem;
    background: transparent;
    
    transform-origin: center center;
    backface-visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.cover-degree::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 2;
    display: block;
    width: 12.625rem;
    height: 6.375rem;
    margin: -1px 0 0 -1px;
    background: #f2f2f2;
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

*/