@import "root.css";
* {
    margin: 0;
    padding: 0;
    font-family: 'Muli';
    /*color: white;*/
}



body {
    background-color: #E6E9E9;
}

main {
    padding-left: 10vw;
    padding-right: 5vw;
}

#banner {
    background-color: rgba(45, 180, 222, .55);
    backdrop-filter: blur(15px);
    height: 4vw;
    width: 100%;
    display: block;
    /*box-shadow: 1vw .1vw 5vw;
 box-shadow: 10vw .3vw 1vw gray;*/
    position: fixed;
    z-index: 10;
}
/*
.box_class {
    background-color: white;
    position: relative;
    border-radius: .4vw;
    color: white;
    padding: .5vw;
    font-size: 1vw;
    overflow: auto
}

.big_box_class {
    background-color: #7283BA;
    display: block;
    position: relative;
    color: white;
    padding: .5vw;
    font-size: 1vw;
    box-shadow: .1vw .1vw .6vw gray;
    overflow: auto
}*/

/*
#size_box {
 height: 20vw;
 width: 30vw;
 top: 25vw;
 right: 65vw;
}


#totalsize_box {
 height: 5vw;
 width: 8vw;
 top: 25vw;
 right: 65vw;
 background-color: red;
 z-index: 1;
}

#html_box {
 height: 10vw;
 width: 35vw;
 top: 75vw;
 right: vw;
}

#metadata_box {
 height: 25vw;
 width: 23.7vw;
 top: 25vw;
 right: 32vw;
}

#validator_box {
 height: 30vw;
 width: 25vw;
 top: 25vw;
 right: 5vw;
}

#views_box {
 height: 10vw;
 width: 10vw;
 top: 52vw;
 right: 45.7vw;
}

#loadspeed_box {
 height: 5vw;
 width: 15vw;
 top: 18vw;
 right: 80vw;
}

#otherpages_box {
 height: 5vw;
 width: 36.5vw;
 top: 18vw;
 right: 22vw;

 text-decoration: underline;
 color: cornflowerblue;
}

#map_box {
 height: 20vw;
 width: 30vw;
 top: 48vw;
 right: 65vw;
}
*/
#url-input {
    display: block;
    border: .003vw solid lightgray;
    height: 2.5vw;
    width: 30vw;
    color: black;
    padding: .6vw;
    font-size: .9vw;
    top: .7vw;
    left: 20vw;
    position: absolute;
    border-radius: 1vw;
    font-size: 1.1vw;
    z-index: 2;
    overflow:hidden
}

::placeholder {
    color: lightgray;
    font-size: .99vw;
}

#submit_button {
    display: block;
    border: 0;
    height: 2vw;
    width: 3.5vw;
    color: white;
    padding: .4vw;
    font-size: .9vw;
    background-color: var(--main-color);
    top: .94vw;
    /*right: 32.6vw;*/
    left: 46.1vw;
    position: absolute;
    border-radius: .8vw;
    z-index: 2;
}

#submit_button:hover {
    background-color: var(--main-color-hover);
    color: #5351B5;
    /*background-color: #5351B5;*/
    transition: .4s ease-in-out;
}

#side_nav {
    height: 100%;
    width: 12vw;
    background-color: var(--main-color);
    position: fixed;
    top: 0vw;
    left: 0vw;
    z-index: 11;
    color: white;
}

#top_side_nav {
    height: 4vw;
    width: 12vw;
    background-color: var(--top-nav-color);
    position: fixed;
    top: 0vw;
    left: 0vw;
    z-index: 11;
}

.side_nav_item {
    margin: .9vw;
    margin-top: 1vw;
    color: white;
    text-decoration: none;
    font-size: 1vw;
}