
#badges{
    margin-top: 30px;
    margin-bottom: 10px;
    float: left;
}


.shadow-hover {
    background-color: lightcoral;
    box-shadow: 0px 0px 10px lightcoral;
}
.shadow-hover:hover {
    -webkit-box-shadow: 0px 0px 20px lightcoral;
    box-shadow: 0px 0px 20px lightcoral;
    cursor: pointer;
}
    
.shadow-hover:active {
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
}

#launch {
    background-color: lightcoral;
    margin-left: 10px;
}

#launch-br{
     display: none;   
}


@media only screen and (max-width: 600px) {
    #launch-br{
        display: block;
    }
    #launch {
        margin-left: 0px;
    }
    
}



/*#arrow {
    visibility: hidden;
    display: none;
}

@media screen and (min-width: 1024px) {*/
    #arrow {
    display: inline;
    visibility: visible;
    font-size: 30px;
    }
/*}*/

#display-dashboard {
    border-radius: 2vw;
    box-shadow: 0px 0px 25px lightgray;
}    

